# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.vercel/
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Backend
backend/venv/
backend/.venv/
backend/env/
backend/__pycache__/
backend/*.pyc
backend/*.pt

# Root & Misc
node_modules/
.next/
venv/
*.pt
__pycache__/
.DS_Store
*.pem
*.log
.env*
